{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
<div class="logo">ShopEase</div>

<nav>
<ul>
<li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="{% url 'categories' %}">Categories</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
</ul>
</nav>
</header>

<section class="products">

<h1>Footwear</h1>

<div class="product-grid">

<div class="product-card">
<img src="{% static 'images/sports.jpg' %}" alt="Running Shoes" class="product-image">
<h3>Running Shoes</h3>
<p>₹1999</p>
<a href="{% url 'payment' %}"><button>Buy Now</button></a>
</div>

<div class="product-card">
<img src="{% static 'images/sneakers.jpg' %}" alt="Sneakers" class="product-image">
<h3>Sneakers</h3>
<p>₹2999</p>
<a href="{% url 'payment' %}"><button>Buy Now</button></a>
</div>

<div class="product-card">
<img src="{% static 'images/sandals.jpg' %}" alt="Sandals" class="product-image">
<h3>Sandals</h3>
<p>₹999</p>
<a href="{% url 'payment' %}"><button>Buy Now</button></a>
</div>

</div>

</section>

</body>
</html>